

.header__info {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar {
  padding-top: 1em;
}

.main__container {
  padding-top: 6.5em;
  width: 100%;
}

.new-tweet {
  box-shadow: 10px 10px;
  font-family: 'Source Sans Pro', sans-serif; 
  padding-left: 1em;
  width: 100%;
}

.tweet__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 10%;
}

.error__empty, .error__long {
  color: red;
  border: 1px solid red;
  display: none;
  width: 95%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-size: 18px;
}

.tweet-text {
  font-size: 21px;
}

textarea {
  height: 50px;
  width: 95%;
  padding: 12px 20px;
  border: 2px red;
  background-color: inherit;
  font-size: 21px;
  border-bottom: 2px solid black;
}

label [for=tweet-text] {
  background-color: greenyellow;
}

.tweet__button {
  font-family: "Bungee";
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 3em;
  padding-top: 0.5em;
}

button {
  background-color: blue;
  color: white;
  margin-bottom: 1em;
  border: none;
}

article.tweet {
  border: 2px solid black;
  width: 95%;
  margin-top: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25%;
}

article.tweet:hover {
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  transition: 250ms;
}

article.tweet header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: gray;
  padding-left: 1em;
  padding-right: 1em;
  /* padding-top: 0.3em; */
}

article.tweet footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: gray;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

article.tweet h3 {
  padding-right: 1em;
  padding-left: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 2px solid black;
}

article.tweet .username {
  font-size: 22px;
}

article.tweet .userhandle {
  font-size: 22px;
  color: lightgray;
}

article.tweet .icons {
  color: blue;
}

article.tweet .fa-flag:hover {
  color: darkgoldenrod;
}

article.tweet .fa-retweet:hover {
  color: darkgoldenrod;
}

article.tweet .fa-heart:hover {
  color: darkgoldenrod;
}

article.tweet img {
  height: 50px;
  width: 50px;
}

article.tweet .imgandname {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {

  .container {
    display: flex;
  }

  .header__info {
    flex-basis: 50%;
    margin-top: 140px;
    margin-left: 10px;
  }

  .main__container {
    flex-basis: 50%;
  }

  nav{
    background-color: #4056A1;
    background-image: none;
  }
}

